@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*  {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #18005F 0%, #2F005C 100%);
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/estrelas.svg);
}

.main-left {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-left > h1 {
    color: #C605C6;
    font-size: 3vw;
    font-weight: 800;
    text-shadow: 0px 0px 25px;
}

.main-left-image {
    width: 35vw;
    filter: drop-shadow(0px 0px 25px #0c0023);
}

.main-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 50%;
    min-width: 320px;
    max-height: 580px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #37005B 0%, #470058 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 25px #0c0023;
}

.login-card > h2 {
    margin: 0;
    color: #C605C6;
    font-size: 30pt;
    font-weight: 800;
    text-shadow: 0px 0px 25px;
}

.inputfield {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;   
}

.inputfield > input {
    width: 100%;
    background: #d1a0ff;
    border: none;
    border-radius: 15px;
    padding: 18px;
    font-size: 14pt;
    box-shadow: 0px 0px 12.5px #1d0747;
    outline: none;
}

.inputfield > input::placeholder {
    color: #926db5;
    font-weight: 500;
}

.inputfield > label {
    margin: 5px 0px;
    color: #d1a0ff;
    font-size: 15pt;
    font-weight: 500;
}

.login-card-link {
    font-size: 11pt;
    text-decoration: underline;
}

.login-card-link:link {
    color: #9d018d
}

.login-card-link:visited {
    color: #9d018d
}

.login-card-link:active {
    color: #5E0055;
}

.login-card-social {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.login-card-social-icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d1a0ff;
    border-radius: 100%;
    box-shadow: 0px 0px 12.5px #1d0747;
    cursor: pointer;
}

.btn-login {
    width: 100%;
    margin: 20px;
    padding: 18px 0px;
    color: #18005F;
    background: #C605C6;
    font-size: 18pt;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #C605C6;
    outline: none;
    cursor: pointer;
}

.login-card > p {
    font-size: 11pt;
    color: #d1a0ff;
}

@media only screen and (max-width: 720px) {
    .main {
        flex-direction: column;
    }

    .main-left {
        width: 100%;
        height: auto;
    }

    .main-right {
        width: 100%;
        height: auto;
    }

    .main-left > h1 {
        display: none;
    }

    .main-left-image {
        width: 60vw;
    }

    .login-card {
        width: 85%;
        margin-bottom: 20px;
    }
}